<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i2dsp.maintenance.mapper.ProductHasTypeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.i2dsp.maintenance.domain.ProductHasType">
        <id column="id" property="id" />
        <result column="product_name" property="productName" />
        <result column="type_id" property="typeId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_Name, product_id, type_id, gmt_create, gmt_modified
    </sql>

    <select id="searchProductAndType" resultMap="ProductAndTypeTemplates"
            parameterType="com.i2dsp.maintenance.domain.vo.MaintenanceProductAndTypeVo">
        select mt.type_id , mt.type_name, mt.period_scope , mt.period_number , mt.remind_number , mt.period , pht.product_name
        from product_has_type pht
        left join maintenance_type mt on
        pht.type_id = mt.type_id
        <where>
            <if test="periodScope != null and periodScope != ''">
                and mt.period_scope = #{periodScope}
            </if>
            <if test="periodNumber != null and periodNumber != ''">
                and mt.period_number = #{periodNumber}
            </if>
            <if test="typeId != null and typeId != ''">
                and pht.type_id = #{typeId}
            </if>
        </where>
    </select>
    <resultMap id="ProductAndTypeTemplates" type="com.i2dsp.maintenance.domain.vo.MaintenanceProductAndTypeVo">
        <result column="type_id" property="typeId"/>
        <result column="type_name" property="typeName"/>
        <result column="period_scope" property="periodScope"/>
        <result column="period_number" property="periodNumber"/>
        <result column="remind_number" property="remindNumber"/>
        <result column="period" property="period"/>
        <result column="product_name" property="productName"/>
    </resultMap>
</mapper>
